.sheet
  height: 50vh

.sheet__img
  display: flex
  justify-content: center
  margin-top: 30px
  margin-bottom: 20px

.sheet__tab
  display: flex
  margin-top: 20px
  margin-left: 20px


.sheet__item
  display: flex
  flex-direction: column
  div
    margin-top: 20px

.sheet__progress
  display: flex
  div
    margin-top: 20px

.sheet__item_label
  margin-right: 20px
  font-weight: bold
